
<!DOCTYPE html>
<html lang="en" ng-app="fst-test">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FST Test Javascript TestClient</title>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
        .tooltip-inner {
            max-width: 700px;
            padding: 1px 2px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            background-color: #ffffff;
            border-radius: 4px;
        }

    </style>
</head>
<body ng-controller="TestCtrl">
<script src="app.js"></script>
<script src="js/minbin.js"></script>
<br>
<br>

<div class="container">
    <div class="row">
        <h3>Test Server Settings</h3>
    </div>
    <br>
    <div class="row">
        <!--<div class="col-sm-offset-0 ">-->
            <div class="form-inline" role="form">
                <div class="form-group">
                    <label for="host">Host</label>
                    <div class="input-group">
                        <input ng-model="host" type="text" class="form-control" name="Host" id="host" placeholder="Host" required>
                        <!--<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="port">Port</label>
                    <div class="input-group">
                        <input ng-model="port" type="text" class="form-control" name="Port" id="port" placeholder="Port">
                        <!--<span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="connect">&nbsp;</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary" id="connect" ng-click="doConnect()" ng-disabled="socketConnected">Connect</button>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <h3>Tests</h3>
    </div>
    <br>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>Test Name</th>
            <th>Result</th>
            <th>mirrored structure</th>
        </tr>
        </thead>
        <tr ng-repeat="item in tests">
            <td>
                <button type="button" class="btn btn-primary btn-sm" id="run" ng-click="doRun(item)" ng-disabled="isRunning(item)"><span class="glyphicon glyphicon-cog"></span></button>
            </td>
            <td>{{item.name}}</td>
            <td>
                <span tooltip-placement="left" tooltip-html-unsafe="<div width=500px><pre align='left'>{{item.tooltip}}</pre></div>" ng-class="item.getResultIcon();"></span>
            </td>
            <td>{{item.toRequest}}</td>
        </tr>
    </table>

    <div class="row">
        <h3>last received:</h3>
        <span class="tagcloudword #class#">
            <pre>{{lastMsg}}</pre>
        </span>
    </div>

</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
